/* Module-css */

.text-white {
  color: #fff;
}

.bg-ccc {
  background-color: #ccc;
}

.p-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.content__heading {
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 20px;
}
/* End module css */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.header__heading {
  font-size: 30px;
  line-height: 100px;
  padding-left: 25px;
}

.content {
  max-width: 100%;
  margin-bottom: 30px;
}

.content1__list {
  list-style: none;
  padding-top: 20px;

}

.content1__item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.content2__img {
  width: 100%;
}

.content3 {
  background-color: #70c9f3;
}

.footer {
  line-height: 100px;
}

      


